body {
    width:100%;
    display:flex;
    flex-direction:column;
}
div.row{
    max-width: 600px;
    width:100%;
    margin:auto;
}
div.row #formP {
    display:flex;
    flex-direction:column;
}
div.row #formP > * {
    margin: 5px;
}